In [1]:
import pandas as pd
import glob
import json

In [2]:
files = glob.glob('tweet/*')
#files = glob.glob('user/*')
len(files)

0

In [4]:
dictlist = []

for file in files:
    json_string = open(file, 'r').read()
    json_dict = json.loads(json_string)
    dictlist.append(json_dict)

In [5]:
df = pd.DataFrame(dictlist)

df = df.replace({'\n': ' '}, regex=True) # remove linebreaks in the dataframe
df = df.replace({'\t': ' '}, regex=True) # remove tabs in the dataframe
df = df.replace({'\r': ' '}, regex=True) # remove carriage return in the dataframe

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [7]:
# Export to csv
df.to_csv("data.csv")